body {
  font-family: 'Futura PT', sans-serif;
  font-weight: 500;
  color: #242323;
}

.container {
  max-width: 1392px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: #000;
}
