.products {
  text-align: center;
  color: #242323;
  padding: 58px 0 40px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media screen and (max-width: 768px) {
    padding-top: 73px;
  }

  &__title {
    font-size: 66px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 18px;
    font-family: 'Adorn', sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 42px;
      margin-bottom: 57px;
    }
  }

  &__list {
    &:not(.swiper-initialized) .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 32px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
      }

      @media screen and (max-width: 540px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .swiper-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    padding: 23px 0;

    .swiper-pagination-bullet {
      display: block;
      width: 10px;
      height: 10px;
      background-color: #e3e3e3;
      border-radius: 50%;

      &-active {
        background-color: #ffd11f;
      }
    }
  }
}
