.testimonials {
  padding: 93px 0;

  @include down(md) {
    padding: 29px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  &__list.swiper-initialized .swiper-button-prev,
  &__list.swiper-initialized .swiper-button-next {
    display: block;
  }

  &__title {
    text-align: center;
    font-size: 34px;
    line-height: 1.24;
    margin-bottom: 60px;
    font-weight: 700;

    @include down(md) {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }

  &__list {
    position: relative;
    overflow: hidden;
    padding: 0 15px;
    margin-left: -15px;
    margin-right: -15px;

    &:not(.swiper-initialized) .swiper-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 59px;

      @include down(xl) {
        //grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      @include down(md) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;

    &::before {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #DFFFFD;
      border-radius: 15px;
      content: '';

      @include down(md) {
        top: 49px;
      }
    }

    &-main,
    &-footer{
      position: relative;
      z-index: 10;
    }

    &-main {
      margin-bottom: 51px;
      padding: 0 20px;

      @include down(md) {
        margin-bottom: 88px;
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;

      @include down(md) {
        margin-bottom: 19px;
      }

      img {
        @include down(md) {
          width: 100px;
          height: 100px;
        }
      }
    }

    &-title {
      font-size: 24px;
      line-height: 1.25;
      font-weight: 700;
      margin-bottom: 15px;
    }

    &-rating {
      display: flex;
      grid-gap: 6px;
      margin-bottom: 18px;

      @include down(md) {
        margin-bottom: 2px;
      }
    }

    &-author {
      font-size: 22px;
      line-height: 1.25;
      font-weight: 700;
      margin-bottom: 40px;

      @include down(md) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__product {
    display: block;
    color: #fff;
    font-size: 16px;
    background: #00AFA9;
    border-radius: 0 0 15px 15px;
    padding: 15px 20px;
    position: relative;

    @include down(md) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &::after {
      display: block;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='16' viewBox='0 0 23 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9H22V7H0V9Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 23px;
      height: 16px;
      top: 50%;
      right: 19px;
      background-repeat: no-repeat;
      margin-top: -8px;
      content: '';

      @include down(md) {
        right: 15px;
      }
    }

    &-inner {
      display: flex;
      align-items: center;
    }
  }

  .star-rating {
    background-image: url("data:image/svg+xml,%3Csvg width='174' height='30' viewBox='0 0 174 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0489 2.92705C14.3483 2.00574 15.6517 2.00574 15.9511 2.92705L18.1432 9.67376C18.2771 10.0858 18.661 10.3647 19.0943 10.3647H26.1882C27.1569 10.3647 27.5597 11.6044 26.776 12.1738L21.0369 16.3435C20.6864 16.5981 20.5397 17.0495 20.6736 17.4615L22.8657 24.2082C23.1651 25.1295 22.1106 25.8956 21.3269 25.3262L15.5878 21.1565C15.2373 20.9019 14.7627 20.9019 14.4122 21.1565L8.67312 25.3262C7.88941 25.8956 6.83493 25.1295 7.13428 24.2082L9.32642 17.4615C9.46029 17.0495 9.31363 16.5981 8.96315 16.3435L3.22405 12.1738C2.44034 11.6044 2.84311 10.3647 3.81184 10.3647H10.9057C11.339 10.3647 11.7229 10.0858 11.8568 9.67376L14.0489 2.92705Z' fill='black' fill-opacity='0.1'/%3E%3Cpath d='M50.0489 2.92705C50.3483 2.00574 51.6517 2.00574 51.9511 2.92705L54.1432 9.67376C54.2771 10.0858 54.661 10.3647 55.0943 10.3647H62.1882C63.1569 10.3647 63.5597 11.6044 62.776 12.1738L57.0369 16.3435C56.6864 16.5981 56.5397 17.0495 56.6736 17.4615L58.8657 24.2082C59.1651 25.1295 58.1106 25.8956 57.3269 25.3262L51.5878 21.1565C51.2373 20.9019 50.7627 20.9019 50.4122 21.1565L44.6731 25.3262C43.8894 25.8956 42.8349 25.1295 43.1343 24.2082L45.3264 17.4615C45.4603 17.0495 45.3136 16.5981 44.9631 16.3435L39.2241 12.1738C38.4403 11.6044 38.8431 10.3647 39.8118 10.3647H46.9057C47.339 10.3647 47.7229 10.0858 47.8568 9.67376L50.0489 2.92705Z' fill='black' fill-opacity='0.1'/%3E%3Cpath d='M86.0489 2.92705C86.3483 2.00574 87.6517 2.00574 87.9511 2.92705L90.1432 9.67376C90.2771 10.0858 90.661 10.3647 91.0943 10.3647H98.1882C99.1569 10.3647 99.5597 11.6044 98.776 12.1738L93.0369 16.3435C92.6864 16.5981 92.5397 17.0495 92.6736 17.4615L94.8657 24.2082C95.1651 25.1295 94.1106 25.8956 93.3269 25.3262L87.5878 21.1565C87.2373 20.9019 86.7627 20.9019 86.4122 21.1565L80.6731 25.3262C79.8894 25.8956 78.8349 25.1295 79.1343 24.2082L81.3264 17.4615C81.4603 17.0495 81.3136 16.5981 80.9631 16.3435L75.2241 12.1738C74.4403 11.6044 74.8431 10.3647 75.8118 10.3647H82.9057C83.339 10.3647 83.7229 10.0858 83.8568 9.67376L86.0489 2.92705Z' fill='black' fill-opacity='0.1'/%3E%3Cpath d='M122.049 2.92705C122.348 2.00574 123.652 2.00574 123.951 2.92705L126.143 9.67376C126.277 10.0858 126.661 10.3647 127.094 10.3647H134.188C135.157 10.3647 135.56 11.6044 134.776 12.1738L129.037 16.3435C128.686 16.5981 128.54 17.0495 128.674 17.4615L130.866 24.2082C131.165 25.1295 130.111 25.8956 129.327 25.3262L123.588 21.1565C123.237 20.9019 122.763 20.9019 122.412 21.1565L116.673 25.3262C115.889 25.8956 114.835 25.1295 115.134 24.2082L117.326 17.4615C117.46 17.0495 117.314 16.5981 116.963 16.3435L111.224 12.1738C110.44 11.6044 110.843 10.3647 111.812 10.3647H118.906C119.339 10.3647 119.723 10.0858 119.857 9.67376L122.049 2.92705Z' fill='black' fill-opacity='0.1'/%3E%3Cpath d='M158.049 2.92705C158.348 2.00574 159.652 2.00574 159.951 2.92705L162.143 9.67376C162.277 10.0858 162.661 10.3647 163.094 10.3647H170.188C171.157 10.3647 171.56 11.6044 170.776 12.1738L165.037 16.3435C164.686 16.5981 164.54 17.0495 164.674 17.4615L166.866 24.2082C167.165 25.1295 166.111 25.8956 165.327 25.3262L159.588 21.1565C159.237 20.9019 158.763 20.9019 158.412 21.1565L152.673 25.3262C151.889 25.8956 150.835 25.1295 151.134 24.2082L153.326 17.4615C153.46 17.0495 153.314 16.5981 152.963 16.3435L147.224 12.1738C146.44 11.6044 146.843 10.3647 147.812 10.3647H154.906C155.339 10.3647 155.723 10.0858 155.857 9.67376L158.049 2.92705Z' fill='black' fill-opacity='0.1'/%3E%3C/svg%3E%0A") !important;
    background-size: auto 30px !important;

    .star-value {
      background-image: url("data:image/svg+xml,%3Csvg width='174' height='30' viewBox='0 0 174 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0489 2.92705C14.3483 2.00574 15.6517 2.00574 15.9511 2.92705L18.1432 9.67376C18.2771 10.0858 18.661 10.3647 19.0943 10.3647H26.1882C27.1569 10.3647 27.5597 11.6044 26.7759 12.1738L21.0369 16.3435C20.6864 16.5981 20.5397 17.0495 20.6736 17.4615L22.8657 24.2082C23.1651 25.1295 22.1106 25.8956 21.3269 25.3262L15.5878 21.1565C15.2373 20.9019 14.7627 20.9019 14.4122 21.1565L8.67312 25.3262C7.88941 25.8956 6.83493 25.1295 7.13428 24.2082L9.32642 17.4615C9.46029 17.0495 9.31363 16.5981 8.96315 16.3435L3.22405 12.1738C2.44034 11.6044 2.84311 10.3647 3.81184 10.3647H10.9057C11.339 10.3647 11.7229 10.0858 11.8568 9.67376L14.0489 2.92705Z' fill='%2300AFA9'/%3E%3Cpath d='M50.0489 2.92705C50.3483 2.00574 51.6517 2.00574 51.9511 2.92705L54.1432 9.67376C54.2771 10.0858 54.661 10.3647 55.0943 10.3647H62.1882C63.1569 10.3647 63.5597 11.6044 62.7759 12.1738L57.0369 16.3435C56.6864 16.5981 56.5397 17.0495 56.6736 17.4615L58.8657 24.2082C59.1651 25.1295 58.1106 25.8956 57.3269 25.3262L51.5878 21.1565C51.2373 20.9019 50.7627 20.9019 50.4122 21.1565L44.6731 25.3262C43.8894 25.8956 42.8349 25.1295 43.1343 24.2082L45.3264 17.4615C45.4603 17.0495 45.3136 16.5981 44.9631 16.3435L39.2241 12.1738C38.4403 11.6044 38.8431 10.3647 39.8118 10.3647H46.9057C47.339 10.3647 47.7229 10.0858 47.8568 9.67376L50.0489 2.92705Z' fill='%2300AFA9'/%3E%3Cpath d='M86.0489 2.92705C86.3483 2.00574 87.6517 2.00574 87.9511 2.92705L90.1432 9.67376C90.2771 10.0858 90.661 10.3647 91.0943 10.3647H98.1882C99.1569 10.3647 99.5597 11.6044 98.7759 12.1738L93.0369 16.3435C92.6864 16.5981 92.5397 17.0495 92.6736 17.4615L94.8657 24.2082C95.1651 25.1295 94.1106 25.8956 93.3269 25.3262L87.5878 21.1565C87.2373 20.9019 86.7627 20.9019 86.4122 21.1565L80.6731 25.3262C79.8894 25.8956 78.8349 25.1295 79.1343 24.2082L81.3264 17.4615C81.4603 17.0495 81.3136 16.5981 80.9631 16.3435L75.2241 12.1738C74.4403 11.6044 74.8431 10.3647 75.8118 10.3647H82.9057C83.339 10.3647 83.7229 10.0858 83.8568 9.67376L86.0489 2.92705Z' fill='%2300AFA9'/%3E%3Cpath d='M122.049 2.92705C122.348 2.00574 123.652 2.00574 123.951 2.92705L126.143 9.67376C126.277 10.0858 126.661 10.3647 127.094 10.3647H134.188C135.157 10.3647 135.56 11.6044 134.776 12.1738L129.037 16.3435C128.686 16.5981 128.54 17.0495 128.674 17.4615L130.866 24.2082C131.165 25.1295 130.111 25.8956 129.327 25.3262L123.588 21.1565C123.237 20.9019 122.763 20.9019 122.412 21.1565L116.673 25.3262C115.889 25.8956 114.835 25.1295 115.134 24.2082L117.326 17.4615C117.46 17.0495 117.314 16.5981 116.963 16.3435L111.224 12.1738C110.44 11.6044 110.843 10.3647 111.812 10.3647H118.906C119.339 10.3647 119.723 10.0858 119.857 9.67376L122.049 2.92705Z' fill='%2300AFA9'/%3E%3Cpath d='M158.049 2.92705C158.348 2.00574 159.652 2.00574 159.951 2.92705L162.143 9.67376C162.277 10.0858 162.661 10.3647 163.094 10.3647H170.188C171.157 10.3647 171.56 11.6044 170.776 12.1738L165.037 16.3435C164.686 16.5981 164.54 17.0495 164.674 17.4615L166.866 24.2082C167.165 25.1295 166.111 25.8956 165.327 25.3262L159.588 21.1565C159.237 20.9019 158.763 20.9019 158.412 21.1565L152.673 25.3262C151.889 25.8956 150.835 25.1295 151.134 24.2082L153.326 17.4615C153.46 17.0495 153.314 16.5981 152.963 16.3435L147.224 12.1738C146.44 11.6044 146.843 10.3647 147.812 10.3647H154.906C155.339 10.3647 155.723 10.0858 155.857 9.67376L158.049 2.92705Z' fill='%2300AFA9'/%3E%3C/svg%3E%0A") !important;
      background-size: auto 30px !important;
    }
  }
}
