{%- assign testimonials = section.settings.testimonials -%}
{%- assign title = section.settings.title -%}
{%- assign testimonials_articles = testimonials.articles -%}

<div class="testimonials" data-section-type="testimonials" data-section-id="{{ section.id }}">
  <div class="container">
    <h2 class="testimonials__title">Why People Love Us</h2>

    <div class="testimonials__list">
      <div class="swiper-wrapper">
      {%- for testimonial in testimonials_articles -%}
        <div class="swiper-slide">
          {% render 'testimonial-item', testimonial: testimonial %}
        </div>
      {%- endfor -%}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "blog",
      "id": "testimonials",
      "label": "Testimonials Category"
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
